**/sim_output/srclist.txt
**/sim_output/*.vcd
**/sim_output/*.vvp
**/__pycache__
**/.hypothesis
**/results.xml
**/sim_output/*.v
**/*.mem

*/target/*
*/stepper.bin

*.bit
*.json
*.config

test_output
Session.vim
.svlint.toml
.vim
.gdb_history
veridian.yml
